<a href="https://colab.research.google.com/github/abidshafee/dataAnalysis/blob/master/dataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving superstore_dataset2011-2015.csv to superstore_dataset2011-2015.csv

In [7]:
df = pd.read_csv('superstore_dataset2011-2015.csv', encoding = 'unicode_escape', index_col='Row ID')

In [8]:
df

               Order ID  Order Date  ... Shipping Cost Order Priority
Row ID                               ...
42433      AG-2011-2040    1/1/2011  ...         35.46         Medium
22253     IN-2011-47883    1/1/2011  ...          9.72         Medium
48883      HU-2011-1220    1/1/2011  ...          8.17           High
11731   IT-2011-3647632    1/1/2011  ...          4.82           High
22255     IN-2011-47883    1/1/2011  ...          4.70         Medium
...                 ...         ...  ...           ...            ...
32593    CA-2014-115427  31-12-2014  ...          0.89         Medium
47594      MO-2014-2560  31-12-2014  ...          0.49         Medium
8857     MX-2014-110527  31-12-2014  ...          0.35         Medium
6852     MX-2014-114783  31-12-2014  ...          0.20         Medium
36388    CA-2014-156720  31-12-2014  ...          0.17         Medium

[51290 rows x 23 columns]

In [9]:
df.describe(include='all')

              Order ID  Order Date  ... Shipping Cost Order Priority
count            51290       51290  ...  51290.000000          51290
unique           25035        1430  ...           NaN              4
top     CA-2014-100111  18-06-2014  ...           NaN         Medium
freq                14         135  ...           NaN          29433
mean               NaN         NaN  ...     26.375915            NaN
std                NaN         NaN  ...     57.296804            NaN
min                NaN         NaN  ...      0.000000            NaN
25%                NaN         NaN  ...      2.610000            NaN
50%                NaN         NaN  ...      7.790000            NaN
75%                NaN         NaN  ...     24.450000            NaN
max                NaN         NaN  ...    933.570000            NaN

[11 rows x 23 columns]

In [12]:
df['Category'].value_counts()

Office Supplies    31273
Technology         10141
Furniture           9876
Name: Category, dtype: int64

In [20]:
# df.loc[:, df['Category'] == 'Furniture']
df[['Category']]

               Category
Row ID
42433   Office Supplies
22253   Office Supplies
48883   Office Supplies
11731   Office Supplies
22255         Furniture
...                 ...
32593   Office Supplies
47594   Office Supplies
8857    Office Supplies
6852    Office Supplies
36388   Office Supplies

[51290 rows x 1 columns]

In [21]:
dict(df)

{'Category': Row ID
 42433    Office Supplies
 22253    Office Supplies
 48883    Office Supplies
 11731    Office Supplies
 22255          Furniture
               ...
 32593    Office Supplies
 47594    Office Supplies
 8857     Office Supplies
 6852     Office Supplies
 36388    Office Supplies
 Name: Category, Length: 51290, dtype: object, 'City': Row ID
 42433    Constantine
 22253    Wagga Wagga
 48883       Budapest
 11731      Stockholm
 22255    Wagga Wagga
             ...
 32593      Fairfield
 47594         Agadir
 8857         Managua
 6852          Juárez
 36388       Loveland
 Name: City, Length: 51290, dtype: object, 'Country': Row ID
 42433          Algeria
 22253        Australia
 48883          Hungary
 11731           Sweden
 22255        Australia
              ...
 32593    United States
 47594          Morocco
 8857         Nicaragua
 6852            Mexico
 36388    United States
 Name: Country, Length: 51290, dtype: object, 'Customer ID': Row ID
 42433    TB-11280
 22253    JH-15985
 48883      AT-735
 11731    EM-14140
 22255    JH-15985
            ...
 32593    EB-13975
 47594     LP-7095
 8857     CM-12190
 6852     TD-20995
 36388    JM-15580
 Name: Customer ID, Length: 51290, dtype: object, 'Customer Name': Row ID
 42433     Toby Braunhardt
 22253         Joseph Holt
 48883       Annie Thurman
 11731        Eugene Moren
 22255         Joseph Holt
                ...
 32593          Erica Bern
 47594           Liz Preis
 8857     Charlotte Melton
 6852        Tamara Dahlen
 36388       Jill Matthias
 Name: Customer Name, Length: 51290, dtype: object, 'Discount': Row ID
 42433    0.0
 22253    0.1
 48883    0.0
 11731    0.5
 22255    0.1
         ...
 32593    0.2
 47594    0.0
 8857     0.0
 6852     0.0
 36388    0.2
 Name: Discount, Length: 51290, dtype: float64, 'Market': Row ID
 42433    Africa
 22253      APAC
 48883      EMEA
 11731        EU
 22255      APAC
           ...
 32593        US
 47594    Africa
 8857      LATAM
 6852      LATAM
 36388        US
 Name: Market, Length: 51290, dtype: object, 'Order Date': Row ID
 42433      1/1/2011
 22253      1/1/2011
 48883      1/1/2011
 11731      1/1/2011
 22255      1/1/2011
             ...
 32593    31-12-2014
 47594    31-12-2014
 8857     31-12-2014
 6852     31-12-2014
 36388    31-12-2014
 Name: Order Date, Length: 51290, dtype: object, 'Order ID': Row ID
 42433       AG-2011-2040
 22253      IN-2011-47883
 48883       HU-2011-1220
 11731    IT-2011-3647632
 22255      IN-2011-47883
               ...
 32593     CA-2014-115427
 47594       MO-2014-2560
 8857      MX-2014-110527
 6852      MX-2014-114783
 36388     CA-2014-156720
 Name: Order ID, Length: 51290, dtype: object, 'Order Priority': Row ID
 42433    Medium
 22253    Medium
 48883      High
 11731      High
 22255    Medium
           ...
 32593    Medium
 47594    Medium
 8857     Medium
 6852     Medium
 36388    Medium
 Name: Order Priority, Length: 51290, dtype: object, 'Postal Code': Row ID
 42433        NaN
 22253        NaN
 48883        NaN
 11731        NaN
 22255        NaN
           ...
 32593    94533.0
 47594        NaN
 8857         NaN
 6852         NaN
 36388    80538.0
 Name: Postal Code, Length: 51290, dtype: float64, 'Product ID': Row ID
 42433    OFF-TEN-10000025
 22253     OFF-SU-10000618
 48883    OFF-TEN-10001585
 11731     OFF-PA-10001492
 22255     FUR-FU-10003447
                ...
 32593     OFF-BI-10002103
 47594    OFF-WIL-10001069
 8857      OFF-LA-10004182
 6852      OFF-LA-10000413
 36388     OFF-FA-10003472
 Name: Product ID, Length: 51290, dtype: object, 'Product Name': Row ID
 42433                                Tenex Lockers, Blue
 22253                           Acme Trimmer, High Speed
 48883                            Tenex Box, Single Width
 11731                        Enermax Note Cards, Premium
 22255                         Eldon Light Bulb, Duo Pack
                               ...
 32593    Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl
 47594            Wilson Jones Hole Reinforcements, Clear
 8857              Hon Color Coded Labels, 5000 Label Set
 6852              Hon Legal Exhibit Labels, Alphabetical
 36388                                Bagged Rubber Bands
 Name: Product Name, Length: 51290, dtype: object, 'Profit': Row ID
 42433    106.1400
 22253     36.0360
 48883     29.6400
 11731    -26.0550
 22255     37.7700
            ...
 32593      4.5188
 47594      0.4200
 8857      12.3600
 6852       0.5600
 36388     -0.6048
 Name: Profit, Length: 51290, dtype: float64, 'Quantity': Row ID
 42433    2
 22253    3
 48883    4
 11731    3
 22255    5
         ..
 32593    2
 47594    1
 8857     3
 6852     1
 36388    3
 Name: Quantity, Length: 51290, dtype: int64, 'Region': Row ID
 42433     Africa
 22253    Oceania
 48883       EMEA
 11731      North
 22255    Oceania
           ...
 32593       West
 47594     Africa
 8857     Central
 6852       North
 36388       West
 Name: Region, Length: 51290, dtype: object, 'Sales': Row ID
 42433    408.300
 22253    120.366
 48883     66.120
 11731     44.865
 22255    113.670
           ...
 32593     13.904
 47594      3.990
 8857      26.400
 6852       7.120
 36388      3.024
 Name: Sales, Length: 51290, dtype: float64, 'Segment': Row ID
 42433       Consumer
 22253       Consumer
 48883       Consumer
 11731    Home Office
 22255       Consumer
             ...
 32593      Corporate
 47594       Consumer
 8857        Consumer
 6852        Consumer
 36388       Consumer
 Name: Segment, Length: 51290, dtype: object, 'Ship Date': Row ID
 42433    6/1/2011
 22253    8/1/2011
 48883    5/1/2011
 11731    5/1/2011
 22255    8/1/2011
            ...
 32593    4/1/2015
 47594    5/1/2015
 8857     2/1/2015
 6852     6/1/2015
 36388    4/1/2015
 Name: Ship Date, Length: 51290, dtype: object, 'Ship Mode': Row ID
 42433    Standard Class
 22253    Standard Class
 48883      Second Class
 11731      Second Class
 22255    Standard Class
               ...
 32593    Standard Class
 47594    Standard Class
 8857       Second Class
 6852     Standard Class
 36388    Standard Class
 Name: Ship Mode, Length: 51290, dtype: object, 'Shipping Cost': Row ID
 42433    35.46
 22253     9.72
 48883     8.17
 11731     4.82
 22255     4.70
          ...
 32593     0.89
 47594     0.49
 8857      0.35
 6852      0.20
 36388     0.17
 Name: Shipping Cost, Length: 51290, dtype: float64, 'State': Row ID
 42433         Constantine
 22253     New South Wales
 48883            Budapest
 11731           Stockholm
 22255     New South Wales
                ...
 32593          California
 47594    Souss-Massa-Draâ
 8857              Managua
 6852            Chihuahua
 36388            Colorado
 Name: State, Length: 51290, dtype: object, 'Sub-Category': Row ID
 42433        Storage
 22253       Supplies
 48883        Storage
 11731          Paper
 22255    Furnishings
             ...
 32593        Binders
 47594        Binders
 8857          Labels
 6852          Labels
 36388      Fasteners
 Name: Sub-Category, Length: 51290, dtype: object}